.Container {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 0;
  min-height: 100%;
}

.Tabs {
  width: 100%;
  > * + * {
    margin-top: 1rem;
  }
}

.ProfileContainer {
  margin-top: auto;
}

.ProfileAvatar {
  cursor: pointer;
  border: 1px solid var(--color-borders)
}