.Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
}
.Selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.Emoji {
  font-size: 36px;
}

.Title {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-primary);
  padding: 2px 8px;
}

.TitleSelected {
  background-color: var(--color-telegram-blue);
  border-radius: 20px;
}