.SearchInput {
  position: relative;
  width: 100%;
  color: rgba(var(--color-text-secondary-rgb), 0.5);
  background-color: var(--color-chat-hover);
  border-radius: 0.5rem;
  transition: border-color 0.15s ease;
  border: 1px solid transparent;

  display: flex;
  align-items: center;

  padding-inline-end: 0.1875rem;

  &.with-picker-item {
    display: flex;

    .icon-container-left {
      display: none;
    }

    input {
      padding-left: 0.5rem;
    }

    &[dir="rtl"] {
      input {
        padding-right: 0.5rem;
        padding-left: 0;
      }
    }
  }
  &:hover {
    border-color: var(--color-links);
  }

  &.has-focus {
    border-color: var(--color-links);
    box-shadow: none;
    caret-color: var(--color-links);
  }

  input {
    height: 1.875rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    border: none !important;
    border-radius: 0.5rem;
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0.5rem;
    caret-color: var(--color-links) !important;


    &::placeholder {
      color: var(--color-text-secondary) !important;
    }
  }

  .icon-container-left {
    width: 1rem;
    flex-shrink: 0;
    margin-inline-start: 0.75rem;
  }

  .icon-container-right {
    width: 2.5rem;
    flex-shrink: 0;
    margin-inline-start: 0.5rem;
  }

  .icon-container-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-icon, .back-icon {
    color: var(--color-text-secondary);
    font-size: 1rem;
    line-height: 1;
  }

  .back-icon {
    color: var(--color-text-secondary);
  }

  .Loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2.5rem;
    width: 2.5rem;

    .Spinner {
      --spinner-size: 1.5rem;
    }
  }

  .Button {
    font-size: 1rem;
  }

  @media (max-width: 600px) {
    input {
      height: 2.5rem;
      border-radius: 1.25rem;
      padding-left: calc(0.75rem - var(--border-width));
    }
  }

  &[dir="rtl"] {
    input {
      direction: rtl;
    }
  }
}
